body {
    background-image: linear-gradient(to right, blue, orangered, yellow);
    background-size: 500% 100%;
    animation: degrade 12s infinite alternate;
}

@keyframes degrade {
    0% {
        background-position-x: 0%
    }

    100% {
        background-position-x: 100%;
    }
}